@font-face {
	font-family: 'nissan-regular';
	src: url('./fonts/nissan/regular.otf');
}

@font-face {
	font-family: 'nissan-light';
	src: url('./fonts/nissan/light.otf');
}

@font-face {
	font-family: 'nissan-bold';
	src: url('./fonts/nissan/bold.otf');
}
